body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

p{
    color: white;
    font-size: large;
    text-align: center;
}

#container{
    margin-top: 5px;
    background-color: slateblue;
    padding: 20px 40px;
    border-radius: 10px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: aliceblue;
    width: 240px;
    height: 30px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
}

.item:hover{
    box-sizing: border-box;
    transition: 0.3s;
    scale: 1.04;
    background-color:lightseagreen;
}

.fa-trash{
    color: red;
    position: absolute;
    right: 15%;
}

.fa-square-check{
    color: green;
    position: absolute;
    right: 5%;
}

input{
    border-radius: 4px;
    height: 20px;
}

.line-through {
    text-decoration: line-through;
}